@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --Neutral-900: hsl(220, 40%, 13%);
  --Neutral-800: hsl(222, 41%, 20%);
  --Neutral-700: hsl(217, 21%, 21%);
  --Neutral-500: hsl(217, 35%, 45%);
  --Neutral-300: hsl(217, 20%, 51%);
  --Neutral-200: hsl(222, 44%, 70%);
  --Neutral-100: hsl(227, 100%, 98%);
  --Neutral-0: hsl(0, 0%, 100%);

  --Blue-300: hsl(212, 100%, 69%);
  --Blue-500: hsl(212, 100%, 50%);

  --Red-500: hsl(0, 92%, 62%);

  --Regular: 400;
  --Bold: 700;

  --Shadow: 0 1.6rem 3rem -1rem rgba(70, 96, 187, 0.1986);
}

:root:has(#theme:checked) {
  color-scheme: light;
  --background-body: var(--Neutral-100);
  --background-container: var(--Neutral-0);
  --heading-color: var(--Neutral-900);
  --paragraph-color: var(--Neutral-500);
  --link-color: var(--Blue-500);
  --shadow: var(--Shadow);
}

:root:not(:has(#theme:checked)) {
  color-scheme: dark;
  --background-body: var(--Neutral-900);
  --background-container: var(--Neutral-800);
  --heading-color: var(--Neutral-0);
  --paragraph-color: var(--Neutral-200);
  --link-color: var(--Blue-300);
  --shadow: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: var(--Regular);
  color: var(--paragraph-color);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-body);
  min-height: 100dvh;
}

main {
  width: 100%;
  max-width: 73rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: var(--Bold);
  color: var(--heading-color);
}

header input {
  display: none;
}

header label {
  display: flex;
  color: var(--paragraph-color);
  font-size: 1.3rem;
  line-height: 140%;
  font-weight: var(--Bold);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  cursor: pointer;
}

header label span {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

header label img {
  height: 2rem;
}

.light,
.dark {
  transition: filter 0.2s ease;
}

.light:hover {
  filter: brightness(1.3);
}

.dark:hover {
  filter: brightness(0.7);
}

form {
  height: 6.9rem;
  background-color: var(--background-container);
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 1.6rem;
  padding-left: 2.4rem;
  padding-right: 1.2rem;
  margin-bottom: 4rem;
  box-shadow: var(--shadow);
}

form input {
  flex-grow: 1;
  background-color: inherit;
  border: none;
  height: 100%;
  font-family: inherit;
  color: var(--heading-color);
  font-weight: inherit;
  font-size: 1.8rem;
  line-height: 140%;
  outline: none;
  cursor: pointer;
  width: 100%;
}

form input::placeholder {
  color: var(--heading-color);
  opacity: 0.75;
}

form label {
  display: flex;
  cursor: pointer;
}

form img {
  height: 2.4rem;
}

form button {
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: var(--Bold);
  color: var(--Neutral-0);
  background-color: var(--Blue-500);
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

form button:hover {
  background-color: var(--Blue-300);
}

.result {
  background-color: var(--background-container);
  padding: 4.8rem;
  border-radius: 1.6rem;

  display: grid;
  grid-template-columns: min-content auto auto;
  grid-template-rows: repeat(4, auto);
  column-gap: 3.4rem;
  row-gap: 2.4rem;
  box-shadow: var(--shadow);

  opacity: 0;
}

.avatar {
  width: 11.7rem;
  height: 11.7rem;
  border-radius: 99rem;
  grid-row: 1/5;
  align-self: self-start;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.username h2 {
  color: var(--heading-color);
  font-size: 2.8rem;
  line-height: 120%;
  font-weight: var(--Bold);
  margin-bottom: 0.2rem;
}

.username a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.6rem;
  line-height: 150%;
  cursor: pointer;
}

.joined {
  color: var(--heading-color);
  font-size: 1.5rem;
  line-height: 150%;
  justify-self: end;
}

.bio {
  grid-column: 2/-1;
  color: var(--heading-color);
  opacity: 0.7;
  line-height: 150%;
}

.stats {
  grid-column: 2/-1;
  display: flex;
  list-style: none;
  padding: 1.5rem 3.2rem;
  background-color: var(--background-body);
  border-radius: 1rem;
  color: var(--heading-color);
}

.stats li {
  width: 33.33%;
}

.stat__name {
  font-size: 1.3rem;
  line-height: 150%;
}

.stat__value {
  font-size: 2.2rem;
  line-height: 140%;
  font-weight: var(--Bold);
}

.links {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  list-style: none;
  color: var(--heading-color);
  font-size: 1.5rem;
  line-height: 150%;
}

.links li {
  height: 2.3rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.links svg {
  fill: var(--heading-color);
  flex-shrink: 0;
}

.links a {
  text-decoration: none;
  color: inherit;
}

.not-found {
  background-color: var(--background-container);
  padding: 4.8rem;
  border-radius: 1.6rem;
  text-align: center;

  display: none;
}

.not-found h2 {
  font-size: 2.2rem;
  font-weight: var(--Bold);
  line-height: 140%;
  color: var(--heading-color);
  margin-bottom: 1.6rem;
}

.not-found p {
  line-height: 150%;
}

.not-results-message {
  color: var(--Red-500);
  font-size: 1.6rem;
  font-weight: var(--Bold);
  line-height: 150%;
  text-wrap: nowrap;

  display: none;
}

body[data-notfound] .not-found {
  display: block;
}

body[data-notfound] .result {
  display: none;
}

body[data-notfound] .not-results-message {
  display: block;
}

:root:has(#theme:checked) .light {
  display: none;
}

:root:not(:has(#theme:checked)) .dark {
  display: none;
}

@media (max-width: 768px) {
  body {
    padding: 3.2rem 1.6rem;
    align-items: flex-start;
  }

  main {
    width: 100%;
    max-width: 34.3rem;
  }

  header {
    margin-bottom: 3.2rem;
  }

  form {
    gap: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  form img {
    height: 2rem;
  }

  form button {
    padding: 1.2rem 2rem;
  }

  form input {
    font-size: 1.3rem;
  }

  form {
    margin-bottom: 3.2rem;
  }

  .result {
    grid-template-columns: min-content auto;
    padding: 3.2rem 2.4rem;
    column-gap: 2rem;
    row-gap: 0;
  }

  .avatar {
    width: 7rem;
    height: 7rem;
    grid-row: 1/3;
  }

  .joined {
    grid-column: 2/-1;
    justify-self: start;
    margin-bottom: 2.4rem;
  }

  .bio {
    grid-column: 1/-1;
    margin-bottom: 2.4rem;
  }

  .stats {
    grid-column: 1/-1;
    flex-direction: column;
    margin-bottom: 2.4rem;
    gap: 1.6rem;
  }

  .links {
    grid-column: 1/-1;
    grid-template-columns: 1fr;
  }

  .not-results-message {
    display: none !important;
  }
}
